*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Monsterrat;
    src: url(/Fonts/FontsFree-Net-Montserrat-SemiBold.ttf);
}
body{
    background-color: #FFCC57;

}
nav{
    height: 6rem;
    background-color: #3B3B3B;
}
nav img{
    height: 5rem;
    border-radius: 0%;
}
.nav-item a{
    color: white;
}
main{
    max-height: 100vh;
}
.admin{
    margin-top: 5vh;
}
table{
    width: 100%;
    border: 1px solid black;
}
table th{
    text-align: center;
    border: 1px solid black;
}
table td{
    border: 1px solid black;
    text-align: center;
    padding: 0.25rem;
}
td button{
    background-color: black;
    color: #FFCC57;
    font-weight: bold;
    width: max-content;
    margin: 0.1rem;
    padding: 0.1rem;
}
.admin-form{
    margin-top: 2rem;
}
.modal-content{
    min-width: 100vh;
    height: 80vh;
}
#modal-button{
    background-color: black;
    color: #FFCC57;
    font-weight: bold;
    width: max-content;
    margin: 0.1rem;
    padding: 0.1rem;
    margin-top: 2rem;
}
form{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
}
form div{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
label{
    margin: 0.25rem;
}
input{
    margin: 0.1rem;
}