*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: Monsterrat;
    src: url(/Fonts/FontsFree-Net-Montserrat-SemiBold.ttf);
}
body{
    background-color: #3B3B3B;

}
nav{
    height: 100px;
    background-color: #3B3B3B;
}
nav img{
    height: 80px;
    border-radius: 0%;
}
.nav-item a{
    color: white;
}
.offcanvas{
    background-color: #3B3B3B; 
}
.landing{
    background-image: url(/images/carousel/Magical_growing_tree.jpg);
    background-size: cover;
    background-repeat: round;
    height: 700px;
}
.welcomeText{
    margin:auto;
    text-align: center;
    font-size: 48pt;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    color: whitesmoke;
    font-family: Monsterrat;

}
.welcomeText-slogen{
    margin:auto;
    text-align: center;
    font-size: 28pt;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-family: Monsterrat;
}
.featured{
    color: whitesmoke;
    text-align: center;
    padding-top: 25px;
    font-size: 28pt;
    font-weight: bolder;
}